html {
  font-size: 16px;
}
body {
  position: relative;
  background-image: url('./we.jpg');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  text-align: left
} 
#code {
  font-size: 2.5rem;
  color: #06aed6;
}
#code .keyword {
  font-weight: 600;
}

/*换肤样式*/
#change-skin {
    position: absolute;
    color: rgba(6, 174, 214);
    font-weight: 600;
    font-size: 2.5rem;
    border: 1px solid rgba(6, 174, 214, 0.3);
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px 5px rgba(6, 174, 214, 0.3);
    top: 2rem;
    right: 2rem;
    height: 5rem;
    width: 8rem;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
 }
.images li img{
  width: 5rem;
  height: 5rem;
}
.images{
  height: 5rem;
  width: 15rem;
  display: flex;
  padding-top: 2.5rem;
  margin-right: 1rem;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  display: none;
}
.images li img:hover{
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

#container{
  width: 16rem;
  height: 11rem;
}
#container:hover .images{
  display: flex;
} 